@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #0d0c22;
  --bgSoft: #2d2b42;
  --text: white;
  --textSoft: #e5e5e5;
  --btn: #3673fd;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --color333: #333;
  --white: white;
  --color0e0a22: #0e0a22;
  --colorBlue: #3672f6;
  --colorGray: gray;
  --color3: #2e2b44;
  --background-color: var(--color0e0a22);
  --text-color: var(--color333);
  --btn-active: var(--white);
  --btn-bgColor: var(--white);
  --btn-active2: var(--colorBlue);
  --text-color2: var(--colorGray);
  --text-color3: var(--colorBlue);
}

html[data-theme='dark'] {
  --text-color: var(--white);
  --background-color: var(--color0e0a22);
  --btn-active: var(--white);
  --btn-bgColor: var(--white);
  --btn-active2: var(--colorBlue);
  --text-color2: var(--colorGray);
  --text-color3: var(--colorBlue);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.app-container {
  max-width: 1600px;
  min-width: 1200px;
  margin: auto;
  padding-left: 50px;
  padding-right: 50px;
}

body {
  color: var(--text-color);
  background: var(--background-color);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
